@import '../../root/variables.less';


.DayPickerInput {
    flex-grow: 1;
    margin-right: 10px;

    div.DayPicker-Day.DayPicker-Day--today {
        font-weight: 600;
        color: @colorr1;
    }

    div.DayPicker-Day--selected {
        background: @colorg3 !important;
        font-weight: 600;
    }

    .day {
        cursor: pointer;
    }
}

.month-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.days {
    padding: 5px;

    td {
        text-align: center;
    }
}

.timePicker {
    font-family: Raleway;
    font-size: 1.1em;
    padding: 2px
}

.createMeal {
    .row {
        display: flex;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
    }
}